[flake8]
extend-ignore = E203
# E203 whitespace before ':'
#  - https://www.flake8rules.com/rules/E203.html
#  - https://black.readthedocs.io/en/stable/the_black_code_style.html#slices
#  - Listed in pet-peeves, not an actual PEP 8 rule.
max-complexity = 72
max-line-length = 120
